<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Mars-Rover-URDF">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0135427022776655 0.00237368886127913 0.0911475646666017"
        rpy="0 0 0" />
      <mass
        value="1.59483552" />
      <inertia
        ixx="0.01390300058104"
        ixy="8.34099127220805E-20"
        ixz="6.53256743568878E-20"
        iyy="0.0285974954758624"
        iyz="-7.98437892769274E-21"
        izz="0.0352539264984576" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mars-Rover-URDF/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mars-Rover-URDF/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="xbar_top_frame">
    <inertial>
      <origin
        xyz="0.0019115 8.4655E-16 0.1957"
        rpy="0 0 0" />
      <mass
        value="0.18097" />
      <inertia
        ixx="0.00072154"
        ixy="-2.7643E-19"
        ixz="1.9439E-19"
        iyy="0.0038796"
        iyz="1.1353E-19"
        izz="0.0045937" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mars-Rover-URDF/meshes/xbar_top_frame.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mars-Rover-URDF/meshes/xbar_top_frame.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="xbar_to_chassis_joint"
    type="fixed">
    <origin
      xyz="0.016543 -0.00062631 0.024582"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="xbar_top_frame" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>