<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Mars-Rover-URDF">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.013543 0.0023737 0.091148"
        rpy="0 0 0" />
      <mass
        value="1.5948" />
      <inertia
        ixx="0.013903"
        ixy="8.341E-20"
        ixz="6.5326E-20"
        iyy="0.028597"
        iyz="-7.9844E-21"
        izz="0.035254" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mars-Rover-URDF/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Mars-Rover-URDF/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>